body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #252500;
    background: #fff;
    padding: 0;
    margin: 0;
}

.body-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.navbar-brand img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.nav-item .active {
    color: #EF0514 !important;
}

#main-navbar {
    font-weight: bold;
}

.carousel-inner img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

#web-footer img {
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2);
}

#other-links a {
    text-decoration: none;
    color: white;
}

#footer-socials svg{
    color: white;
}

body.rtl {
    direction: rtl;
}

#newsletter-form{
    direction: ltr !important;
}

#other-links{
    direction: ltr !important;
}

#basic-contact {
    direction: ltr !important;
}

.nav-link:hover {
    color: #EF0514;
}

#main-navbar {
    transition: 0.3s; /* Add a smooth transition effect */
}

.navbar-logo-small {
    transition: 0.3s;
    width: 5rem !important;
    height: 5rem !important;
    border-radius: 50%;
}

.navbar-bg {
    background: linear-gradient(135deg, rgba(248, 215, 218, 0.9), rgba(248, 215, 218, 0.9)) !important;
}

.banner img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    #navbarSupportedContent {
        background: linear-gradient(135deg, rgba(248, 215, 218, 0.9), rgba(248, 215, 218, 0.9)) !important;
    }
}