body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #5c0000;
    background: #fff;
    padding: 0;
    margin: 0;
}

.body-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}

.navbar-brand img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-right: 8rem;
}

.nav-item .active {
    color: #5c0000 !important;
}

#main-navbar {
    font-weight: bold;
}

.carousel-inner img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

#web-footer img {
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2);
}

#other-links a {
    text-decoration: none;
    color: white;
}

#footer-socials svg {
    color: white;
}

body.rtl {
    direction: rtl;
}

#newsletter-form {
    direction: ltr !important;
}

#other-links {
    direction: ltr !important;
}

#basic-contact {
    direction: ltr !important;
}

.nav-link:hover {
    color: #5c0000;
}

#main-navbar {
    transition: 0.3s;
    /* Add a smooth transition effect */
}

.navbar-logo-small {
    transition: 0.3s;
    width: 5rem !important;
    height: 5rem !important;
    border-radius: 50%;
}

.navbar-bg {
    background: linear-gradient(135deg, rgba(248, 215, 218, 0.9), rgba(248, 215, 218, 0.9)) !important;
}

.banner img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

@media screen and (max-width: 994px) {
    #navbarSupportedContent {
        background: linear-gradient(135deg, rgba(248, 215, 218, 0.9), rgba(248, 215, 218, 0.9)) !important;
    }
}

/* CountDown */
.countdown {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown span {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    margin-left: 0.8rem;
}

.countdown span:first-of-type {
    margin-left: 0;
}

.countdown-circles {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown-circles span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.countdown-circles span:first-of-type {
    margin-left: 0;
}


/*
*
* ==================================================
* FOR DEMO PURPOSES
* ==================================================
*
*/
body {
    min-height: 100vh;
}

.bg-gradient-1 {
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.bg-gradient-2 {
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8);
}

.bg-gradient-3 {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.bg-gradient-4 {
    background: #007991;
    background: -webkit-linear-gradient(to right, #007991, #78ffd6);
    background: linear-gradient(to right, #007991, #78ffd6);
}

.rounded {
    border-radius: 1rem !important;
}

.btn-demo {
    padding: 0.5rem 2rem !important;
    border-radius: 30rem !important;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold !important;
}

.btn-demo:hover,
.btn-demo:focus {
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
}

.card {
    border-radius: 0;
}

/* Registration Form */

.registration-form input {
    position: relative;
    border-radius: 0 !important;
    border: 1px solid #5c0000 !important;
    font-weight: bold !important;
}

label {
    position: relative;
    z-index: 1 !important;
    font-weight: bold !important;
    color: #5c0000 !important;
}

.registration-form button {
    position: relative;
    border: 1px solid #5c0000 !important;
    padding: 12px 16px !important;
    font-weight: bold !important;
    z-index: 1 !important;
}

.registration-form select {
    position: relative;
    border-radius: 0 !important;
    border: 1px solid #5c0000 !important;
    padding: 16px 12px !important;
    font-weight: bold !important;
    color: #5c0000 !important;
    z-index: 1 !important;
}

.registration-form textarea {
    border-radius: 0 !important;
    border: 1px solid #5c0000 !important;
}

#form-bg {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

#web-footer {
    background-color: #350000;
}

#accordion-button {
    color: #5c0000 !important;
}

#waiverButton {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.accordion-body {
    position: relative;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #5c0000;
    color: #5c0000;
}

#submit-button {
    background-color: #5c0000;
    border: 0;
    color: white;
    margin-top: 1rem;
}

#submit-button:hover {
    background-color: #350000;
}